/**
 * @name JJk Jujutsu Kaisen Gojo Satoru purple
 * @author TereruNaYo
 * @version auto updates
 * @description Тема создана в генераторе https://vsthemes.org/generator/
 * @source https://vsthemes.org/skins/discord/34768-gojo-satoru-purple.html
 * @authorLink https://vsthemes.org/user/TereruNaYo/
 * @authorId 65141
*/
@import url(https://vsthemes.org/uploads/generator/client/BasicBackground.css);
:root {
    --transparencycolor: 29,9,40;
    --transparencyalpha: 0.15;
    --messagetransparency: 0.65;
    --guildchanneltransparency: 0.45;
    --memberlistransparency: 0.2;
    --accentcolor: 160,65,238;
    --background: url("https://vsthemes.org/uploads/posts/2021-06/1624780961_wallpapersden_com_76996-1920x1080.webp");
    --backdrop: rgba(0,0,0,0.2);
    --backgroundblur: 0px;
    --popoutblur: 0px;
    --backdropblur: 0px;
    --version1_0_5:none;
    --backgroundsize: cover;
    --popoutsize: cover;
    --backdropsize: cover;
}