@import '/home/ligoz/.cache/wal/colors-waybar.css';


* {
	font-family: JetBrainsMono, Symbols Nerd Font;
	font-weight: bold;
	font-size: 16px;
	min-height: 0;
}


window#waybar {
	border-radius: 20;
	background-color: rgba(153, 153, 153, 0);
}

window#waybar.empty #window {
      background: @background;
  }      

#workspaces {
	padding: 2 15;
	margin: 5;
	color: @color2;
	background-color: @background;
	border: none;
	border-radius: 20;
}
button {
	box-shadow: inset 0 -3px transparent;
	border: none;
	border-radius: 0;
}
button:hover {
	background: inherit;
	box-shadow: inset 0 -3px transparent;
}
#workspaces button {
	padding: 0 5px;
	background-color: transparent;
	color: @color5;
}
#workspaces button:hover {
	color: @color2;
}
#workspaces button.focused {
}
#workspaces button.urgent {
}

#tray {
	padding: 2 15;
	margin: 5;
	background-color: @background;
	border: none;
	border-radius: 20;
}

#backlight {
	padding: 2 15;
	margin: 5;
	margin-right: -2;
	color: @color2;
	background-color: @background;
	border: none;
	border-radius: 20 0 0 20;
}

#custom-spotify {
	padding: 2 15;
	margin: 5;
	background-color: @background;
	border: none;
	border-radius: 20;
}

#pulseaudio {
	padding: 2 15;
	margin: 5;
	margin-right: -2;
	margin-left: -2;
	color: @color2;
	background-color: @background;
	border: none;
	border-radius: 0 0 0 0;
}
#pulseaudio.muted {
	color: rgb(255, 0, 0);
}

#pulseaudio.microphone {
	padding: 2 15;
	margin: 5;
	margin-left: -2;
	color: @color2;
	background-color: @background;
	border: none;
	border-radius: 0 20 20 0;
}

@keyframes blink-update {
	to {
		background-color: @color3;
	}
}

#custom-pacman {
	padding: 2 15;
	margin: 5;
	border-radius: 20;
	color: @color2;
	background-color: @background;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#custom-pacman.pending-updates {
	animation-name: blink-update;
	animation-duration: 3s;
}

#clock {
	padding: 2 15;
	margin: 5;
	color: @color2;
	background-color: @background;
	border: none;
	border-radius: 20;
}

#privacy {
	padding: 2 15;
	margin: 5;
	color: @color2;
	background-color: @background;
	border: none;
	border-radius: 20;
}

#power-profiles-daemon {
	padding: 2 15;
	margin: 5;
	margin-right: -2;
	color: @color2;
	background-color: @background;
	border: none;
	border-radius: 20 0 0 20;
}
#cpu {
	padding: 2 15;
	margin: 5;
	margin-right: -2;
	margin-left: -2;
	color: @color2;
	background-color: @background;
	border: none;
	border-radius: 0;
}
#memory {
	padding: 2 15;
	margin: 5;
	margin-left:-2;
	margin-right:-2;
	color: @color2;
	background-color: @background;
	border: none;
	border-radius: 0;
}
#battery {
	padding: 2 15;
	margin: 5;
	color: @color2;
	background-color: @background;
	border: none;
	border-radius: 20;
}
#temperature {
	padding: 2 15;
	margin: 5;
	margin-left: -2;
	color: @color2;
	background-color: @background;
	border: none;
	border-radius: 0 20 20 0;	
}
#bluetooth {
	padding: 2 15;
	margin: 5;
	margin-right: 0;
	color: @color2;
	background-color: @background;
	border: none;
	border-radius: 20 0 0 20;	
}
tooltip {
	background: @bg;
	margin: 20px;
	padding: 15px;
	border: 20px solid rgba(100, 114, 125, 0);
	border-radius: 10px;
}
